$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.wrapper {
  width: 100%;
}

.container {
  @include mobile {
    max-width: 95% !important;
  }
}

.header__link {
  @include mobile {
    display: none !important;
  }
}

.logo__wrapper {
  @include mobile {
    justify-content: center !important;
    height: 30px !important;
    margin-top: 10px;
  }
}

.header__list {
  @include mobile {
    align-items: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
  }
}

.header__list-link {
  @include mobile {
    margin-left: 0 !important;
    button {
      padding: 2px 10px;
      font-size: 12px;
    }
  }
}

.mobile__bar {
  display: none;
  @include mobile {
    display: block;
  }
}
