.slick-prev,
.slick-next {
  padding: 13px 29px 28px 9px;
  opacity: 0.3;
  background: #000;
  z-index: 68;
  &:hover {
    opacity: 0.3;
    background: black;
  }
  &:active {
    opacity: 0.7;
    background: black;
  }
  &:visited {
    opacity: 0.3;
    background: black;
  }
  &:focus {
    opacity: 0.3;
    background: black;
  }
}

.slick-prev {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.slick-next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.slick-dots {
  bottom: 30px;
  li {
    button {
      width: 10px;
      height: 10px;
      background-color: grey;
      border-radius: 50%;
      &::before {
        content: none;
      }
    }
  }
}

.slick-dots .slick-active button {
  background-color: #fff;
  opacity: 0.7;
}
